
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

/* Top-Fourth */
.top-fourth{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    color: white;
    min-height: 650px;      
}

.header, .top-fourth-content {
    margin-left: 400px;
    margin-right: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    padding: 8px;
}

.top-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
    flex-basis: 50%;
}

.hero-text {
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    flex-wrap: wrap;
    width: 350px;
}

.h-links, .text {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    padding: 8px;
    color: #F9FAF8
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
    height: 250px;
    width: 550px;
    margin-left: auto;
    flex-shrink: 0;
}

.sign-up {
    background-color: #3882F6 ;
    color: white;
    font-weight: bolder;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;   
}

.text {
    /* display: inline-flex; */
    flex-wrap: nowrap;
    width: 450px;
    height: auto;
}

.top-fourth-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Top-middle-fourth */

.top-middle-fourth {
    margin-left: 400px;
    margin-right: 400px;
}

.info {
    display: flex;
    padding: 32px;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    justify-content: center;
}

.squares {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sq {
    width: 175px;
    height: 175px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
}

.sqtext {
    /* flex-wrap: wrap; */
    max-width: 200px;
    font-size: 18px;
    color: lightgray;
}


